{%- assign items = site.data.metadata -%}
<script src="{{ "/assets/js/lunr.min.js" | relative_url }}"></script>
<script>
/* create lunr store */
var store = [ 
    {% for item in items %} 
    { 
        "indexId": {{ item.indexid | jsonify }},
        "title": {{ item.title | jsonify }},
        "subjects": {{ item.subject | split: ";" | jsonify }},
        "date": {{ item.date | jsonify }},
        "description": {{ item.description | jsonify }}
    }{%- unless forloop.last -%},{%- endunless -%}
    {%- endfor -%}
];
/* initialize lunr */
var idx = lunr(function () {
  this.field('title')
  this.field('subjects')
  this.field('description')
  this.field('date')
  this.ref('id')

  //this.pipeline.remove(lunr.trimmer)

  for (var item in store) {
    this.add({
      title: store[item].title,
      subjects: store[item].subjects.join("; "),
      description: store[item].description,
      date: store[item].date,
      id: item
    })
  }
});

/* search function */
$(document).ready(function() {
  $('input#search').on('keyup', function () {
    var resultdiv = $('#results');
    var query = $(this).val().toLowerCase();
    /*var result =
      idx.query(function (q) {
        query.split(lunr.tokenizer.separator).forEach(function (term) {
          q.term(term, { boost: 100 })
          if(query.lastIndexOf(" ") != query.length-1){
            q.term(term, {  usePipeline: false, wildcard: lunr.Query.wildcard.TRAILING, boost: 10 })
          }
          if (term != ""){
            q.term(term, {  usePipeline: false, editDistance: 1, boost: 1 })
          }
        })
      });*/
    var result = idx.search(query); 
    resultdiv.empty();
    resultdiv.prepend('<p class="results__found">'+result.length+' Result(s) found</p>');
    for (var item in result) {
      var ref = result[item].ref;
      var searchitem =
        '<tr>'+
            '<td class="">' +
              '<p class="h4"><a href="{{ site.baseurl }}/browse/item.html?id=' + store[ref].indexId + '">' + store[ref].title+ '</a></p>' +
              '<p class="ml-3">' +
              store[ref].date + '. ' +
              store[ref].description.split(" ").splice(0,20).join(" ") + '...<br>' +
              'Subjects: ' + store[ref].subjects.join("; ") +
              '</p></td>' +
        '</tr>';
      resultdiv.append(searchitem);
    }
  });
  var queryString = window.location.search.substring(1).split("=")[1];
  $('input#search').val(queryString);
});
</script>