{%- assign items = site.data.metadata -%}
<script src="{{ "/assets/js/lunr.min.js" | relative_url }}"></script>
<script>
/* create lunr store */
var store = [ 
    {% for item in items %} 
    { 
        "indexId": {{ item.indexid | jsonify }},
        "title": {{ item.title | jsonify }},
        "subjects": {{ item.subject | jsonify }},
        "abstract": {{ item.description | jsonify }}
    }{%- unless forloop.last -%},{%- endunless -%}
    {%- endfor -%}
];
/* initialize lunr */
var idx = lunr(function () {
  this.field('title')
  this.field('subjects')
  this.field('abstract')
  this.ref('id')

  //this.pipeline.remove(lunr.trimmer)

  for (var item in store) {
    this.add({
      title: store[item].title,
      subjects: store[item].subjects,
      abstract: store[item].abstract,
      id: item
    })
  }
});
/* search function */
$(document).ready(function() {
  $('input#search').on('keyup', function () {
    var resultdiv = $('#results');
    var query = $(this).val().toLowerCase();
    /*var result =
      idx.query(function (q) {
        query.split(lunr.tokenizer.separator).forEach(function (term) {
          q.term(term, { boost: 100 })
          if(query.lastIndexOf(" ") != query.length-1){
            q.term(term, {  usePipeline: false, wildcard: lunr.Query.wildcard.TRAILING, boost: 10 })
          }
          if (term != ""){
            q.term(term, {  usePipeline: false, editDistance: 1, boost: 1 })
          }
        })
      });*/
    var result = idx.search(query); 
    resultdiv.empty();
    resultdiv.prepend('<p class="results__found">'+result.length+' Result(s) found</p>');
    for (var item in result) {
      var ref = result[item].ref;
      var searchitem =
        '<div class="">'+
            '<h2 class="">'+
              '<a href="{{ site.baseurl }}/browse/item.html?id=' + store[ref].indexId+'">'+store[ref].title+'</a>'+
            '</h2>'+
            '<p class="">Extract: '+store[ref].abstract.split(" ").splice(0,20).join(" ")+'...</p>'+
            '<p class="">Subjects: '+store[ref].subjects+'</p>'+
        '</div>';
      resultdiv.append(searchitem);
    }
  });
});
</script>