<script>
    $.getJSON("{{ "/data/subjects.json" | relative_url }}", function(json){
    var subjectTerms = json.subjects;
    var counts = subjectTerms.map(function(obj){ return obj.count; });
    var countMax = counts.reduce(function(a, b) { return Math.max(a, b); });
    var countMin = 0;
    var cloud = document.getElementById("htmltagcloud");
    /* Fisher-Yates shuffle https://bost.ocks.org/mike/shuffle/ */
    /* function shuffle(array) {
        var m = array.length, t, i;
        while (m) {
        i = Math.floor(Math.random() * m--);
        t = array[m];
        array[m] = array[i];
        array[i] = t;
        }
        return array;
    } */
    function mapSize(x) {
        return Math.round((x - countMin) * (9) / (countMax - countMin) + 1);
    }
    /* create cloud */
    function makeGrid(array) {
        var i;
        //shuffle(array);
        var item;
        for (i = 0; i < array.length; i++) {
            var size = mapSize(array[i].count)
            item = '<p class="wrd tagcloud' + size + '"><a target="_blank" href="' + array[i].link + '">' + array[i].subject + '</a></p>';
            cloud.innerHTML += item;
        }
    }
    makeGrid(subjectTerms);
});
</script>