{%- comment -%} find all unique subjects used in the metadata {%- endcomment -%}
{%- assign min-count = 0 -%}
{%- assign raw-subjects = site.data.metadata | map: "subject" | join: ";" | split: ";" -%}
{%- capture subjects -%}{% for s in raw-subjects %}{% if s != "" %}{{ s | strip | downcase }};{% endif %}{%- endfor -%}{%- endcapture -%}
{%- assign subjects = subjects | split: ";" -%}
{%- assign uniqueSubjects = subjects | uniq | sort -%}

<script>
    var subjectTerms = [ {%- for unique in uniqueSubjects -%}{% assign count = subjects | where_exp: "item", "item == unique" | size %}{%- if count > min-count -%}{ "subject" : "{{ unique | capitalize }}", "count" : {{ count }} }{% unless forloop.last %}, {% endunless %}{% endif %}{% endfor %} ];
    var counts = subjectTerms.map(function(obj){ return obj.count; });
    var countMax = counts.reduce(function(a, b) {
        return Math.max(a, b);
    });
    var countMin = {{ min-count }};
    var cloud = document.getElementById("htmltagcloud");
    /* Fisher-Yates shuffle https://bost.ocks.org/mike/shuffle/ */
    function shuffle(array) {
        var m = array.length, t, i;
        while (m) {
        i = Math.floor(Math.random() * m--);
        t = array[m];
        array[m] = array[i];
        array[i] = t;
        }
        return array;
    }
    function mapSize(x) {
        return Math.round((x - countMin) * (9) / (countMax - countMin) + 1);
    }
    /* create cloud */
    function makeCloud(array) {
        var i;
        shuffle(array);
        var item;
        for (i = 0; i < array.length; i++) {
            var size = mapSize(array[i].count)
            item = '<p class="wrd tagcloud' + size + '"><a target="_blank" href="https://digital.lib.uidaho.edu/cdm4/results.php?CISOOP1=exact&amp;CISOBOX1=' + array[i].subject + '&amp;CISOFIELD1=subjed&amp;CISOOP2=exact&amp;CISOBOX2=&amp;CISOFIELD2=creato&amp;CISOOP3=any&amp;CISOBOX3=&amp;CISOFIELD3=descri&amp;CISOOP4=none&amp;CISOBOX4=&amp;CISOFIELD4=CISOSEARCHALL&amp;CISOROOT=/idahowater&amp;t=s">' + array[i].subject + '</a></p>';
            cloud.innerHTML += item;
        }
    }
    makeCloud(subjectTerms);    
</script>