<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if page.url == "/" %} active{% endif %}">
                    <a class="nav-link" href="{{ "/" | relative_url }}">Home</a>
                </li>
                <li class="nav-item {% if page.url == "/items/" %} active{% endif %}">
                    <a class="nav-link" href="{{ "/items/" | relative_url }}">Items</a>
                </li>
                <li class="nav-item {% if page.url == "/map/" %} active{% endif %}">
                    <a class="nav-link" href="{{ "/map/" | relative_url }}">Map</a>
                </li>
                <li class="nav-item {% if page.url == "/subjects/" %} active{% endif %}">
                    <a class="nav-link" href="{{ "/subjects/" | relative_url }}">Subjects</a>
                </li>
                <li class="nav-item {% if page.url == "/timeline/" %} active{% endif %}">
                    <a class="nav-link" href="{{ "/timeline/" | relative_url }}">Timeline</a>
                </li>
                <li class="nav-item {% if page.url == "/browse/" %} active{% endif %}">
                    <a class="nav-link" href="{{ "/browse/" | relative_url }}">Browse</a>
                </li>
                <li class="nav-item {% if page.url == "/about/" %} active{% endif %}">
                    <a class="nav-link" href="{{ "/about/" | relative_url }}">About</a>
                </li>
            </ul>
            <script>
                function google_search() {
                    var query = document.getElementById("google-search").value;
                    window.open("{{ '/search/index.html' | absolute_url }}?q=" + query, "_self" );
                }
            </script>
            <form class="form-inline my-2 my-lg-0" role="search" id="search" onsubmit="google_search(); return false;">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>    
</nav>