---
layout: default
---
{%- assign fields = site.data.metadata-config -%}

<div class="container">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ "/" | absolute_url }}">{{ site.title }}</a></li>
        <li class="breadcrumb-item"><a href="{{ "/browse/" | absolute_url }}">Browse</a></li>
        <li id="bc-title" class="breadcrumb-item active">Not found?</li>
    </ul>

    <div class="">
        <h2 id="item-title" class="">{{ page.title }}</h2>
    </div>

    <div class="row">

        <div class="card col-md-4" >
            <div id="item-image"></div>
            <div id="item-link" class="card-body"></div>
        </div>
        <div class=" card col-md-8">
            <div id="item-metadata" class="card-body metadata">
                <h3>Sorry, item not found.</h3>
            </div>
        </div> 
    </div>

    <div class="back-button">
        <a href="{{ "/browse/" | relative_url }}">❮ Back to Collection Browse</a>
    </div>
</div>

<script>
var items = { 
    {%- for item in site.data.metadata -%}
    {{ item.indexid | jsonify }} : { "filename": {{ item.filename | jsonify }}, {% for f in fields %}"{{ f.field }}": {{ item[f.field] | jsonify }}{% unless forloop.last %}, {% endunless %}{% endfor %} }{% unless forloop.last %}, {% endunless %}
    {% endfor %}
};
var queryString = window.location.search.substring(1).split("=")[1];
var record = items[queryString];
var itemTitle = record.title;
document.getElementById("bc-title").innerHTML = itemTitle;
document.getElementById("item-title").innerHTML = itemTitle;
var itemImage = '<img class="card-img-top" src="{{ site.baseurl }}/objects/thumbs/' + queryString + '.jpg" alt="item thumbnail">';
document.getElementById("item-image").innerHTML = itemImage;
var itemLink = '<a href="{{ "/objects/" | absolute_url }}' + record.filename + '" target="_blank" class="btn btn-primary" title="Object download">Download Object</a>';
document.getElementById("item-link").innerHTML = itemLink;
var fields = {% for f in fields %}'<li><span class="field">{{ f.display-name }}:</span> <span class="field-value">' + record.{{ f.field }} + '</span></li>' + {% endfor %}'</p>';
document.getElementById("item-metadata").innerHTML = fields;
</script>